body{
    background-color:#ededd0;
    letter-spacing: 2px;
    left: 5px;
    
}
h1{
text-decoration: underline;
color: #4aa96c;
text-align: center;
}
p{
    text-align: center;
}
.submit{
    color: blue;
    align-tracks: center;
}
form{
    text-align: justify;
    
}
.bewell{
    width: 150px;
}